CM_CLIENT_ID=
CM_CLIENT_SECRET=
BITRIX_WEBHOOK_BASE_URL=
BITRIX_CATALOG_ID=14
BITRIX_IBLOCK_ID=14
BITRIX_ROOT_SECTION_NAME=Автомобили
SYNC_CRON=0 */2 * * *
DRY_RUN=false
RUN_SYNC_ON_START=true
SYNC_LIMIT=
BITRIX_DELAY_MS=300
BITRIX_MAX_RETRIES=5
LOG_LEVEL=info
